{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": false,
    "trailingComma": "es5",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always"
}
